/* custom.css */

header[role="banner"] {
    border: none;
    border-radius: none;
}
@media (max-width: 640px) {
    header[role="banner"] {
	background-image: url('/img/bakbord640.jpg');
    }
}
@media (min-width: 640px) {
    header[role="banner"] {
	background-image: url('/img/bakbord1800.jpg');
	/* border: none; */
	/* border-radius: none; */
    }
}

header>.container, #content, footer {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

h1, h2 {
    margin-top: 0.1em;
}

article {
    margin-top: 3em;
}

article header {
    margin-bottom: 0;
}

header[role='banner'] {
    padding-top: 2em;
    padding-bottom: 2em;
}
.navbar-brand {
    color: white;
    font-family: 'Covered By Your Grace', cursive; 
    text-shadow: 0px 0px 8px #000;

    font-size: 5em;
    font-weight: bold;
    letter-spacing: -1px;
    white-space: nowrap;

    padding-left: 0;
}


#om {
   text-align: right;
}
#om>a {
    color: white;
    font-size: 150%;
    font-family: 'Covered By Your Grace';
    font-style: italic;
        
    background: rgba(100, 100, 100, 0.5);
    padding: 0.4em;
    white-space: nowrap;
    border-radius: 0.2em;
}

a.navbar-brand:visited, a.navbar-brand:hover {
    color: white;
}

.date-and-tags {
    margin-top: 20px;
    font-style: italic;
    color: #828282;
}

/* Use Boostrap less mixins? */
.figure {
    text-align: center;
    margin: 2em;
}

.figure>.caption {
    font-family: 'Covered By Your Grace';
    font-size: medium;
    margin: 0.4em 0px 0px 0px;
}

.figure>img {
    /* Like Boostrap .img-responsive */
    display: block;
    max-width: 100%;
    height: auto;

    margin-left: auto;
    margin-right: auto;
}

#credits {
    margin-top: 3em;
    font-size: small;
    text-align: center;
}

code {
    color: black;
}

/* When highlighted code blocks are too wide, they wrap. Resulting in the */
/* line numbers column's rows not lining up with the code rows. Prevent */
/* wrapping. */
pre {
    white-space: pre;
    width: inherit;
}
