/* custom.css */

header[role="banner"] {
    background-image: url('/img/bakbord.jpg');
    border: none;
    border-radius: none;
}

header>.container, #content {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

h1, h2 {
    margin-top: 0.1em;
}

article header {
    margin-bottom: 1.5em;
}

.navbar-brand { color: white; font-family: 'Covered By Your Grace',
    cursive; text-shadow: 0px 0px 8px #000;

    line-height: 158px;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: -1px;

    padding-left: 0;
    float: none;
}
a.navbar-brand:visited, a.navbar-brand:hover {
    color: white;
}

.date-and-tags {
    margin-top: 20px;
    font-style: italic;
    color: #828282;
}

/* Use Boostrap less mixins? */
.figure {
    text-align: center;
}
.figure>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


code {
    color: black;
}

/* When highlighted code blocks are too wide, they wrap. Resulting in the */
/* line numbers column's rows not lining up with the code rows. Prevent */
/* wrapping. */
pre {
    white-space: pre;
    width: inherit;
}
